<div class="container">
  <form class="m-3">
    <fieldset class="w-50 mx-auto">
      <legend class="text-center">Se connecter</legend>
      <div class="form-group">
        <label for="exampleInputEmail1">Votre email</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Entrer votre email">
        <small id="emailHelp" class="form-text text-muted">Nous ne partageons jamais votre email avec des tiers.</small>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Mot de passe</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
      </div>
      <div class="form-group">
        <label for="confirm_password">Confirmer le mot de passe</label>
        <input type="password" class="form-control" id="confirm_password" placeholder="Confirm Password">
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="checkbox" value="" checked="">
          Se souvenir de moi
        </label>
      </div>
      <button type="submit" class="btn btn-primary d-flex mx-auto">Se connecter</button>
    </fieldset>
  </form>
  <hr class="w-25"/>

  <form class="m-3">
    <fieldset class="w-50 mx-auto">
      <legend class="text-center">Créer un compte</legend>
      <div class="form-group">
        <label for="first_name">Votre prénom</label>
        <input type="text" class="form-control" id="first_name" aria-describedby="emailHelp" placeholder="Enter email">
      </div>
      <div class="form-group">
        <label for="last_name">Votre nom</label>
        <input type="text" class="form-control" id="last_name" aria-describedby="emailHelp" placeholder="Enter email">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Votre email</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Entrer votre email">
        <small id="emailHelp" class="form-text text-muted">Nous ne partageons jamais votre email avec des tiers.</small>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Mot de passe</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
      </div>
      <div class="form-group">
        <label for="confirm_password">Confirmer le mot de passe</label>
        <input type="password" class="form-control" id="confirm_password" placeholder="Confirm Password">
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="checkbox" value="" checked="">
          Se souvenir de moi
        </label>
      </div>
      <button type="submit" class="btn btn-primary d-flex mx-auto">Se connecter</button>
    </fieldset>
  </form>
  <hr class="w-25"/>

  <form class="m-3">
    <h2 class="text-center" id="forgot">Mot de passe oublié?</h2>
    <fieldset class="w-50 mx-auto">
      <div class="form-group">
        <label for="exampleInputEmail1">Entrer votre email</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Entrer votre email">
      </div>
      <button type="submit" class="btn btn-primary d-flex mx-auto">Mot de passe oublié</button>
    </fieldset>
  </form>
  <hr class="w-25"/>

  <form class="m-3">
    <h2 class="text-center" id="new-password">Nouveau mot de passe</h2>
    <fieldset class="w-50 mx-auto">
      <div class="form-group">
        <label for="new-pass">Entrer votre nouveau mot de passe</label>
        <input type="password" class="form-control" id="new-pass" aria-describedby="password" placeholder="Mot de passe">
      </div>
      <div class="form-group">
        <label for="confirm-pass">Confirmer votre nouveau mot de passe</label>
        <input type="password" class="form-control" id="confirm-pass" aria-describedby="password" placeholder="Confirmer le nouveau">
      </div>
      <div class="form-group">
        <label for="last_pass">Confirmer le changement avec l'ancien mot de passe</label>
        <input type="password" class="form-control" id="last_pass" aria-describedby="password" placeholder="Ancien mot de passe">
      </div>
      <button type="submit" class="btn btn-primary d-flex mx-auto">Changer</button>
    </fieldset>
  </form>
</div>