<div class="container">
  <form class="m-3">
    <fieldset class="w-50 mx-auto">
      <legend class="text-center">Se connecter</legend>
      <div class="form-group">
        <label for="exampleInputEmail1">Votre email</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Entrer votre email">
        <small id="emailHelp" class="form-text text-muted">Nous ne partageons jamais votre email avec des tiers.</small>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Mot de passe</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
      </div>
      <div class="form-group">
        <label for="confirm_password">Confirmer le mot de passe</label>
        <input type="password" class="form-control" id="confirm_password" placeholder="Confirm Password">
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="checkbox" value="" checked="">
          Se souvenir de moi
        </label>
      </div>
      <button type="submit" class="btn btn-primary d-flex mx-auto">Se connecter</button>
    </fieldset>
  </form>
  <hr class="w-25"/>

  <form class="m-3">
    <fieldset class="w-50 mx-auto">
      <legend class="text-center">Créer un compte</legend>
      <div class="form-group">
        <label for="first_name">Votre prénom</label>
        <input type="text" class="form-control" id="first_name" aria-describedby="emailHelp" placeholder="Enter email">
      </div>
      <div class="form-group">
        <label for="last_name">Votre nom</label>
        <input type="text" class="form-control" id="last_name" aria-describedby="emailHelp" placeholder="Enter email">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
      </div>
      <div class="form-group">
        <label for="exampleSelect1">From</label>
        <select class="form-control" id="exampleSelect1">
          <option>Paris</option>
          <option>New York</option>
          <option>Tokyo</option>
          <option>Minsk</option>
          <option>Champagny en Vanoise</option>
        </select>
      </div>
      <div class="form-group">
        <label for="exampleSelect2">Age</label>
        <select multiple="" class="form-control" id="exampleSelect2">
          <option>18 - 25</option>
          <option>26 - 35</option>
          <option>36 - 45</option>
          <option>46 - 55</option>
          <option>More than 56</option>
        </select>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
          Man
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2">
          Woman
        </label>
      </div>
      <div class="form-group">
        <label for="exampleTextarea">Something about you</label>
        <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
      </div>
      
      <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="checkbox" value="" checked="">
          Remember me
        </label>
      </div>
      <button type="submit" class="btn btn-success">Sign up</button>
    </fieldset>
  </form>
  <hr class="w-25"/>

  <form class="m-3">
    <h2 class="text-center" id="forgot">Forgot your password</h2>
    <fieldset class="w-50 mx-auto">
      <div class="form-group">
        <label for="exampleInputEmail1">Please enter your email</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
      </div>
      <button type="submit" class="btn btn-success">Forgot my password</button>
    </fieldset>
  </form>
  <hr class="w-25"/>

  <form class="m-3">
    <h2 class="text-center" id="new-password">New Password</h2>
    <fieldset class="w-50 mx-auto">
      <div class="form-group">
        <label for="new-pass">Please enter your new password</label>
        <input type="password" class="form-control" id="new-pass" aria-describedby="password" placeholder="New Password">
      </div>
      <div class="form-group">
        <label for="confirm-pass">Confirm new password</label>
        <input type="password" class="form-control" id="confirm-pass" aria-describedby="password" placeholder="Confirm new password">
      </div>
      <div class="form-group">
        <label for="last_pass">Confirm change with last password</label>
        <input type="password" class="form-control" id="last_pass" aria-describedby="password" placeholder="password">
      </div>
      <button type="submit" class="btn btn-success">Change</button>
    </fieldset>
  </form>
</div>