<div class="container my-5 py-4">
  <%= render partial: 'user_profile' %>

  <div class="row justify-content-center">
    <button type="button" class="btn btn-primary m-2">Editer votre email</button>
    <button type="button" class="btn btn-primary m-2">Editer votre profil</button>
  </div>
</div>