<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

    <h1>Nous vous remercions pour votre commande</h1>
    <h2>Voici un récapitulatif de votre commande : </h2>
    <% @order.order_line_items.each do |order_line| %>
      <h3><strong class="text-dark"><%= order_line.item.title %></strong> pour <%= order_line.item.price %> €</h3>
    <% end %>
      <p>
        Pour un total de : <%= @order.total_price %> €
      </p>
    
    <p> À très vite sur CuteKittens.com !
  </body>
</html>
