<%= render 'shared_mailer/head_mailer '%>

    <h1>Nous vous remercions pour votre commande</h1>
    <h2>Voici un récapitulatif de votre commande : </h2>
    <p>
      Prendre les cards depuis le panier 
    </p>
    <p>
      Pour un total de : .
    </p>
    <p> À très vite sur CuteKittens.com !

<%= render "shared_mailer/footer_mailer "%>