<div class="row border-bottom border-gray py-2 mb-2 mr-2">
  <div class="col-3">
      <%= order.created_at %>
    </div>
    <div class="col-3 small text-center">
      <%= order.created_at %>
    </div>
    <div class="col-3 small text-center">
      Prix total
    </div>
    <div class="col-3 small text-center">
      Actions
    </div>
  </div>
</div>

<div class="media pt-3">
  <p class="media-body pb-3 mb-0 lh-125 border-bottom border-gray">
    <strong class="d-block text-gray-dark">Commande n°<%= order.id %></strong>
    <% order.order_line_items.each do |order_line_item| %>
      <p><%= order_line_item.item.image_url %></p>
    <% end %>
    Contenu de la commande
  </p>
</div>