<div class="row border-bottom border-gray py-2 mb-2 mr-2">
  <div class="col-3">
    Date de la commande
  </div>
  <div class="col-3 small text-center">
    Nombre d'articles
  </div>
  <div class="col-3 small text-center">
    Prix total
  </div>
  <div class="col-3 small text-center">
    Actions
  </div>
</div>