document.getElementById("badge-number").innerHTML = "<%= @cart.number_of_items %>";

<% @cart.line_items.each do |line_item| %>
  document.getElementById("line-item-<%= line_item.id %>").remove();
<% end %>

document.getElementById("empty-cart").remove();
document.getElementById("order-cart").remove();
document.getElementById("column-titles").remove();
document.getElementById("your-cart").insertAdjacentHTML("afterend", "<p class='pt-3'>Votre panier est vide</p>");

document.getElementById("order-price").innerHTML= "<%= @cart.total_price %>";
