<div class="jumbotron">
  <div class="row">
    <div class="col-sm-12 col-md-6 mb-3">
      <h1 class="display-3 mt-3">Amoureux de chat ?</h1>
      <p class="lead">Découvrez notre collection de cartes de châtons.</p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">En savoir plus</a>
      </p>
    </div>
    <div class="col-sm-12 col-md-6">
      <img class="img-fluid jumbo-img d-flex mx-auto" src="https://www.18h39.fr/wp-content/uploads/2019/04/chat-trop-chou-600x420.jpg">
    </div>
  </div>
</div>