// Place all the styles related to the Carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.old {
  width: 4vw;
  height: 4vw;
  object-fit: cover;
  border-radius: 10px;
}

.line-item-pic {
  zoom: 2;  //increase if you have very small images

  display: block;
  margin: auto;

  height: auto;
  max-height: 100%;

  width: auto;
  max-width: 100%;
}