<!--Footer-->

<footer class='footer bg-primary pl-5' style="color:#EBEBEB">
  <div class='row container-fluid'>
    <div class='col-md-4 col-sm-1'>
      <h4 class="py-3">Suivez-nous !</h4>
      <div class="social-icon">
        <a href="#"><i class="fab fa-facebook-square fa-3x" style="color:#EBEBEB"></i></a>
        <a href="#"><i class="fab fa-twitter-square fa-3x" style="color:#EBEBEB"></i></a>
        <a href="#"><i class="fab fa-linkedin fa-3x" style="color:#EBEBEB"></i></a>
        <a href="#"><i class="fab fa-instagram fa-3x" style="color:#EBEBEB"></i></a>
      </div>
    </div>
    <div class='col-md-4 col-sm-1'>
      <h4 class="py-3">À propos de nous</h4>
      <a href="#" style="color:#EBEBEB">L'équipe</a><br/><br/>
      <a href="#" style="color:#EBEBEB">Contactez-nous</a>
    </div>
    <div class='col-md-4 col-sm-1'>
      <h4 class="py-3">Liens pratiques</h4>
      <a href="#" style="color:#EBEBEB">Foire aux questions</a><br/><br/>
      <a href="#" style="color:#EBEBEB">Conditions générales de vente</a>
    </div>
  </div>
  <div class="footer-copyright text-center py-3 mt-3">© 2020 Copyright:
    <a href="#" style="color:#EBEBEB"> cutekittens.com</a>
  </div>
</footer>




