<div class="container">
  <!-- Check if the User has a first name -->
  <p>Bienvenue <% @resource.has_first_name? ? @resource.first_name.capitalize : "" %>!</p>

  <p>Vous pouvez confirmer l'e-mail de votre compte via le lien ci-dessous:</p>

  <p><%= link_to 'Confirmer', confirmation_url(@resource, confirmation_token: @token) %></p>
</div>
