<div class="container">
  <!-- Check if the User has a first name -->
  <p>Hello <% @resource.has_first_name? ? @resource.first_name.capitalize : "" %>!</p>

  <% if @resource.try(:unconfirmed_email?) %>
    <p>Nous vous contactons pour vous informer que votre adresse e-mail est en cours de modification <%= @resource.unconfirmed_email %>.</p>
  <% else %>
    <p>Nous vous contactons pour vous informer que votre adresse e-mail a été remplacée par <%= @resource.email %>.</p>
  <% end %>
</div>
