<div class="container">
  <p>Hello <%= @email %>!</p>

  <% if @resource.try(:unconfirmed_email?) %>
    <p>Nous vous contactons pour vous informer que votre adresse e-mail est en cours de modification <%= @resource.unconfirmed_email %>.</p>
  <% else %>
    <p>Nous vous contactons pour vous informer que votre adresse e-mail a été remplacée par <%= @resource.email %>.</p>
  <% end %>
</div>
